*.iml
.gradle
.idea
.vscode
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.kotlin
*.lock
convention-plugins/bin
docs/node_modules
docs/.vitepress/dist
docs/.vitepress/cache
docs/public/dokka
docs/public/compose
