:root {

    /* 亮色模式主题色系统 */
    --miuix-color-primary: #3482FF;
    --miuix-color-primary-container: #5D9BFF;
    --miuix-color-on-tertiary-container: #3482FF;
    --miuix-color-outline: #D9D9D9;
    --miuix-color-divider-line: #E0E0E0;

    /* 主要字体 */
    --vp-font-family-base: 'MiSans VF', 'Inter', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    /* 主要主题色 */
    --vp-c-brand-1: var(--miuix-color-primary);
    --vp-c-brand-2: var(--miuix-color-primary-container);
    --vp-c-brand-3: var(--miuix-color-on-tertiary-container);

    /* 边框和分隔线颜色 */
    --vp-c-divider: var(--miuix-color-divider-line);
    --vp-c-gutter: var(--miuix-color-outline);

    /* hero logo 背景颜色 */
    --vp-home-hero-image-background-image: linear-gradient(to right bottom, var(--miuix-color-primary), var(--miuix-color-primary-container));
    --vp-home-hero-image-filter: blur(40px);

    /* 搜索框边框描边颜色 */
    @media (min-width: 960px) {
        .DocSearch-Button {
            border: 1px solid var(--miuix-color-outline);
        }
    }

}

/* 深色模式主题色 */
.dark {
    --miuix-color-primary: #277AF7;
    --miuix-color-primary-container: #338FE4;
    --miuix-color-on-tertiary-container: #277AF7;
    --miuix-color-outline: #404040;
    --miuix-color-divider-line: #393939;
}

/* 标题颜色 */
.VPDoc h1 {
    background: linear-gradient(120deg, var(--miuix-color-primary), var(--miuix-color-primary-container));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* mediumZoom 样式 */
.medium-zoom-overlay {
    z-index: 30;
}

.medium-zoom-image {
    z-index: 9999 !important;
}